@import '../../../styles/abstracts';

.button {
  @include transition(background-color);
  padding: spacing();
  background-color: $c--secondary;

  svg {
    display: block;
    width: 20px;
    height: 20px;
    fill: $c--white;
    @include transition(fill);
  }

  &:hover {
    background-color: $c--secondary-hover;
    svg {
      fill: $c--primary;
    }
  }
}
