@import '../../../styles/abstracts';

.group {
  margin-top: spacing(4);
}

.address {
  font-weight: $fw--bold;
  margin-bottom: 0.5em;
  padding-top: 0.5em;
  border-top: 2px solid $c--secondary;
}

.guestListItem {
  // margin-bottom: spacing(2);
  display: inline-block;
  vertical-align: top;
  width: 48%;
}

.guestButton {
  @include transition(color);
  padding: 0.5em 0;
  font-size: 1.2rem;
  font-weight: $fw--bold;
  color: $c--secondary;
  position: relative;
  text-align: left;

  &:hover {
    color: $c--primary;
  }

  &:focus {
    outline: 1px solid rgba($c--gray-4, 0.2);
  }

  span {
    vertical-align: middle;
  }

  .guestArrow {
    @include transition(opacity);
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    margin-left: 0.25em;
    opacity: 0;

    svg {
      display: block;
      width: 100%;
      fill: $c--primary;
    }
  }

  &:hover .guestArrow {
    opacity: 1;
  }
}
