@import '../../../styles/abstracts';

.group {
  margin-top: spacing(4);
  background-color: $c--white;
  padding: spacing(2);
  border-top: 4px solid $c--secondary;
}

.address {
  font-weight: $fw--bold;
  margin-bottom: spacing(2);

  line-height: 1.2;
}

.respondedGuests {
  margin-top: spacing(2);
}

.respondedGuests__intro {
  margin-bottom: spacing(0.5);
}

.respondedGuestList {
  margin-bottom: spacing(2);
}

.respondedGuestStrong {
  font-weight: $fw--semibold;
}

.contactText {
  margin-bottom: 0;
}

.respondedGuestAttending,
.respondedGuestDeclined {
  position: relative;
  padding-left: 26px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 16px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

.respondedGuestDeclined:before {
  background-image: $icon--close;
  height: 12px;
  margin-top: -6px;
}

.respondedGuestAttending:before {
  background-image: $icon--check;
  height: 16px;
  margin-top: -8px;
}

.guestListItem {
  display: inline-block;
  vertical-align: top;
  width: 45%;
  margin-right: 5%;
}

.guestButton {
  @include transition(color);
  padding: 0.5em 0;
  font-size: 1.2rem;
  font-weight: $fw--semibold;
  color: $c--secondary;
  position: relative;
  text-align: left;

  &:hover {
    color: $c--primary;
  }

  &:focus {
    outline: 1px solid rgba($c--gray-4, 0.2);
  }

  span {
    vertical-align: middle;
  }

  .icon {
    display: inline;
    white-space: nowrap;
  }

  .guestArrow {
    @include transition(opacity transform);
    display: inline-block;
    width: 0.75em;
    height: 0.75em;
    margin-left: 0.25em;
    opacity: 0;
    margin-top: -2px;
    transform: translateX(-4px);

    svg {
      display: block;
      width: 100%;
      fill: $c--primary;
    }
  }

  &:hover .guestArrow {
    opacity: 1;
    transform: translateX(0);
  }
}
