@import '../../../../styles/abstracts';

.options {
  display: flex;
  justify-content: space-between;
  margin: spacing(2) 0;
}

.option {
  flex: 1;

  input[type='radio'] {
    @include hidden-input();
  }

  + .option {
    margin-left: spacing();
  }
}

.optionLabel {
  @include rsvp-button();
}
