@import '../../../../styles/abstracts';

.options {
  display: flex;
  justify-content: space-between;
}

.optionsExtraPadding {
  margin-top: spacing(2);
}

.option {
  width: 31%;

  input[type='radio'] {
    @include hidden-input();
  }
}

.optionLabel {
  @include rsvp-button();
}
