@import '../../../styles/abstracts';

.guestName {
  color: $c--primary;
}

.attendingChoices {
  margin-bottom: spacing(4);
  margin-top: spacing(2);

  @include mq(1200px) {
    display: flex;
    justify-content: space-between;
  }
}

.choice {
  width: 100%;
  margin-bottom: spacing(1);

  input[type='radio'] {
    @include hidden-input();
  }

  @include mq(1200px) {
    width: 46%;
  }
}

.currentGuestOption {
  @include rsvp-button();

  .guestChosen & {
    color: $c--gray-a;
  }

  .happyEmoji {
    @include transition(opacity);
    opacity: 0;

    input:checked + & {
      opacity: 1;
    }
  }
}

// Other guest choices
// -----------

.setOtherAttending {
  margin-top: spacing(4);
}

.otherGuestListItem {
  display: block;
  padding-top: spacing(0.5);
  padding-bottom: spacing(0.5);

  + .otherGuestListItem {
    border-top: 1px solid $c--gray-d;
  }

  input[type='checkbox'] {
    @include hidden-input();
  }

  @include mq($bp-tablet) {
    display: flex;
    align-items: center;
  }
}

.otherGuestName {
  font-weight: $fw--bold;
  display: block;
  flex: 1;
}

.otherGuestChoice {
  @include transition(background-color color);
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  margin-left: spacing(1);
  font-weight: $fw--bold;
  color: rgba($c--gray-6, 0.2);
  padding: 0.25em 0.5em;

  &:hover {
    color: rgba($c--gray-6, 0.4);
  }

  input:checked + &.otherGuestChoice__yes {
    background-color: $c-jungle-green;
    color: $c--white;
  }

  input:checked + &.otherGuestChoice__no {
    background-color: $c--gray-9;
    color: $c--white;
  }

  input:active + &,
  input:focus + & {
    outline: 1px solid rgba($c--black, 0.2);
  }
}

// Actions
// -----------

.actions {
  margin-top: spacing(4);

  button + button {
    margin-left: spacing(2);
  }
}
