@import '../../../styles/abstracts';

.enter {
  opacity: 0;
  transform: translate3d(0, 10px, 0);
}

.enterActive {
  @include transition;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.exit {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.exitActive {
  @include transition;
  opacity: 0;
  transform: translate3d(0, 10px, 0);
}
