@import '../../styles/abstracts';

.promo {
  .link {
    @include transition;
    display: inline-block;
    font-weight: $fw--bold;
    padding: 1rem;
    overflow: hidden;
    color: $c--primary;

    background-color: rgba($c--white, 0.9);
    @include box-shadow(6px, rgba($c--black, 0.5));

    span {
      vertical-align: middle;
    }

    .icon {
      display: inline-block;
      @include transition(transform);
      height: 0.8em;
      width: 0.8em;

      svg {
        display: block;
        width: 100%;
        fill: $c--primary;
      }
    }

    &:hover {
      background-color: rgba($c--white, 1);
      color: $c--black;

      .icon {
        transform: translateX(2px);
      }
    }
  }
}
