// --------------------------------------------------------------
// Layout
// --------------------------------------------------------------

@mixin grid-child {
  padding-left: $gutter;
  padding-right: $gutter;
}

// --------------------------------------------------------------
// Type
// --------------------------------------------------------------

@mixin uppercase {
  font-weight: $fw-bold;
  font-family: $ff-roboto;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

// --------------------------------------------------------------
// Media queries
// --------------------------------------------------------------

@mixin mq($mq) {
  @media (min-width: $mq) {
    @content;
  }
}
