@import './variables';

// --------------------------------------------------------------
// Media queries
// --------------------------------------------------------------

@mixin mq($mq, $max: false) {
  @if $max {
    @media (max-width: $mq + 1) {
      @content;
    }
  } @else {
    @media (min-width: $mq) {
      @content;
    }
  }
}

@mixin mid-mq($min, $max) {
  @media (min-width: $min) and (max-width: $max - 1) {
    @content;
  }
}

// --------------------------------------------------------------
// Layout
// --------------------------------------------------------------

@mixin grid-child {
  padding-left: $gutter;
  padding-right: $gutter;
}

@mixin content-split-main {
  width: $mobile-split-main;
  margin-left: $mobile-split-secondary;

  @include mq($bp-mobile) {
    width: $tablet-split-main;
    margin-left: $tablet-split-secondary;
  }

  @include mq($bp-desktop) {
    width: $desktop-split;
    margin-left: $desktop-split;
  }
}

@mixin content-split-secondary {
  @include mq($bp-mobile) {
    width: $tablet-split-secondary;
  }

  @include mq($bp-desktop) {
    width: $desktop-split;
  }
}

// --------------------------------------------------------------
// Type
// --------------------------------------------------------------

@mixin uppercase {
  font-weight: $fw-bold;
  font-family: $ff-roboto;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

// --------------------------------------------------------------
// Shadows
// --------------------------------------------------------------

@mixin img-shadow {
  box-shadow: 0 0 70px rgba($c-black, 0.4);
}
