.teampage__imagepane {
  display: none;

  @include mq($bp-desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $desktop-split;
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
  }
}

.teampage__contentpane {
  padding: $space-lg;

  @include mq($bp-desktop) {
    width: $desktop-split;
    margin-left: $desktop-split;
    padding: 8vw;
  }
}

.team__default-img {
  @include img-shadow;
  width: 80%;
  opacity: 0;
  transition: opacity 0.6s cubic-bezier(0.19, 1, 0.22, 1);

  &.is-visible {
    opacity: 1;
  }
}

.team__nav {
  margin-top: 60px;
  margin-bottom: 40px;

  @include mq($bp-mobile) {
    display: flex;
    align-items: flex-start;
  }
  @include mq($bp-desktop) {
    min-height: 50vh;
  }
}

.team__navlink {
  position: relative;
  flex: 1;
  display: block;
  width: 100%;
  background-color: transparent;
  padding: $space-sm;
  color: $c-secondary;
  transition: all $hover-timing;

  @include mq($bp-mobile) {
    margin: 12px;
  }

  span {
    font-family: $ff-roboto;
    font-weight: $fw-bold;
    display: block;
  }

  svg {
    width: 100%;
    display: block;
    fill: $c-secondary;
    stroke: $c-secondary;
    transition: all $hover-timing;
  }

  &:hover {
    color: $c-primary;
    svg {
      transform: scale(1.1);
    }
  }

  &.active,
  &:focus {
    outline: none;
    color: $c-primary;

    svg {
      transform: scale(1.1);
      fill: $c-primary;
      stroke: $c-primary;
    }
  }

  .team__nav--main &:after {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    bottom: -24px;
    left: 50%;
    margin-left: -12px;
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23035d69%22%20d%3D%22M18.293%2011.293L13%2016.586V5a1%201%200%200%200-2%200v11.586l-5.293-5.293a.999.999%200%201%200-1.414%201.414l7%207a1.002%201.002%200%200%200%201.414%200l7-7a.999.999%200%201%200-1.414-1.414z%22%2F%3E%3C%2Fsvg%3E);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    opacity: 0;
    transition: opacity $hover-timing;
  }
  .team__nav--main &.active:after {
    opacity: 1;
  }
}
