@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Cormorant+Upright|Gilda+Display|Goudy+Bookletter+1911|Headland+One|Katibeh|Ovo|Playfair+Display|Suranna|Vidaloka|Lora:400,700');

html {
  font-size: $fz-base;
}

body {
  font-family: $ff-lora;
  line-height: 1.6;
}

h2 {
  font-size: 2rem;
  font-weight: $fw-bold;
  margin-bottom: 0.5em;
}

p {
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  color: inherit;
  box-shadow: inset 0 -3px 0 rgba($c-red, 0.6);
  transition: box-shadow 0.2s;

  &:hover {
    box-shadow: inset 0 -6px 0 rgba($c-red, 0.6);
  }
}
