@import url('https://fonts.googleapis.com/css?family=Vidaloka|Lora:400,700|Roboto+Condensed:400,700');

html {
  font-size: $fz-base - 2;
  color: $c-gray-3;
  -webkit-font-smoothing: antialiased;

  @include mq($bp-mobile) {
    font-size: $fz-base;
  }
}

body {
  font-family: $ff-lora;
  line-height: 1.4;
}

h2 {
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 0.5em;
  font-family: $ff-vidaloka;
  margin-bottom: 1em;

  p + & {
    margin-top: 2em;
  }
}

p {
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: $c-primary;
  }

  .site-footer &,
  .content__main & {
    box-shadow: inset 0 -2px 0 $c-secondary;
    transition: box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;

    &:hover {
      box-shadow: inset 0 -3px 0 $c-secondary;
    }
  }
}

.content__main {
  line-height: 1.8;
}

button {
  cursor: pointer;
  padding: 0;
  border-radius: 0;
  border: 0;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

.has-drop-cap:first-letter {
  color: $c-primary;
  float: left;
  font-family: $ff-vidaloka;
  font-size: 5.6em;
  line-height: 1em;
  padding-right: 10px;
  margin-bottom: -0.1em;
}

.page-title {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 2rem;
  color: $c-secondary;

  @include mq($bp-mobile) {
    font-size: 6vw;
  }
}

// WordPress blocks
// -----------

.wp-block-quote {
  padding-left: 1em;
  border-left: 4px solid $c-secondary;
}
