@import url('https://fonts.googleapis.com/css?family=Vidaloka|Lora:400,700|Roboto+Condensed:400,700');

html {
  font-size: $fz-base;
  color: $c-gray-3;
}

body {
  font-family: $ff-lora;
  line-height: 1.6;
}

h2 {
  font-size: 2rem;
  font-weight: $fw-bold;
  margin-bottom: 0.5em;
}

p {
  margin-bottom: 1em;
}

a:not(.mainnav__link) {
  text-decoration: none;
  color: inherit;
  box-shadow: inset 0 -2px 0 $c-lavender;
  transition: box-shadow 0.2s;

  &:hover {
    box-shadow: inset 0 -4px 0 $c-lavender;
  }
}
