// --------------------------------------------------------------
// Type
// --------------------------------------------------------------

$fz-base: 18px;
$ff-vidaloka: 'Vidaloka', serif;
$ff-lora: 'Lora', serif;
$ff-roboto: 'Roboto Condensed', sans-serif;

$fw-bold: 700;

$fz-small: 0.8rem;
$fz-mid: 1.4rem;
$fz-large: 2rem;

// --------------------------------------------------------------
// Layout
// --------------------------------------------------------------

$site-width: 1080px;
$gutter: 1rem;

$desktop-split: 50%;
$tablet-split-main: 62%;
$tablet-split-secondary: 100 - $tablet-split-main;
$mobile-split-main: 80%;
$mobile-split-secondary: 100 - $mobile-split-main;

// --------------------------------------------------------------
// Colors
// --------------------------------------------------------------

$c-white: #ffffff;
$c-gray-f6: #f6f6f6;
$c-gray-2: #222222;
$c-gray-3: #333333;
$c-gray-9: #999999;
$c-gray-c: #cccccc;
$c-purple: #734f96;
$c-lavender: #bf94e4;

// --------------------------------------------------------------
// Spacing
// --------------------------------------------------------------

$space-sm: 24px;
$space-lg: 4rem;

// --------------------------------------------------------------
// Media queries
// --------------------------------------------------------------

$bp-desktop: 1080px;
$bp-tablet: 780px;
$bp-mobile: 548px;
