// --------------------------------------------------------------
// Type
// --------------------------------------------------------------

$fz-base: 18px;

$ff-abril: 'Abril Fatface', cursive;
$ff-playfair: 'Playfair Display', serif;
$ff-vidaloka: 'Vidaloka', serif;
$ff-ovo: 'Ovo', serif;
$ff-goudy: 'Goudy Bookletter 1911', serif;
$ff-gilda: 'Gilda Display', serif;
$ff-suranna: 'Suranna', serif;
$ff-headland: 'Headland One', serif;
$ff-katibeh: 'Katibeh', cursive;
$ff-cormorant: 'Cormorant Upright', serif;
$ff-lora: 'Lora', serif;

$fw-bold: 700;

// --------------------------------------------------------------
// Layout
// --------------------------------------------------------------

$site-width: 1080px;
$gutter: 1rem;

// --------------------------------------------------------------
// Colors
// --------------------------------------------------------------

$c-red: #cc0000;
