@import '../../static/scss/mixins';
@import '../../static/scss/variables';

.layout--gallery {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.GalleryLayout {
}

.Gallery {
  display: flex;
  height: 100vh;
  align-items: flex-end;

  .gallery-img-wrapper {
    display: flex;
    align-items: flex-end;
    height: 100%;
    padding: $space-lg 0 $space-lg $space-lg;
    overflow: hidden;

    img {
      display: block;
      max-height: 100%;
    }
  }
}
