@import '../../static/scss/variables';

.header {
  position: relative;

  &--has-featured {
    min-height: 50vw;
  }
}

.header__meta {
  padding: 60px;

  .header--has-featured & {
    width: 60%;
  }
}

.header__banner {
  font-size: 10vw;
  font-family: 'Goudy Bookletter 1911', serif;
  display: inline-block;

  span {
    position: relative;
    display: block;
    line-height: 0.8;
  }

  span:first-child {
    margin-bottom: -0.3em;
  }
  span:nth-child(2) {
    color: #aaa;
    text-align: right;
    position: relative;
    right: -0.5em;
  }
  span:nth-child(3) {
    margin-top: -0.3em;
  }
}

.font-switcher {
  background: #f8f8f8;
  padding: 8px;
  li {
    cursor: pointer;
    margin: 8px 0 8px 10px;

    &:hover {
      color: #888;
    }
  }
}

.header__link {
  font-weight: $fw-bold;
  text-decoration: none;
  color: inherit;
}

.header__featured-img {
  position: absolute;
  left: 50%;
  right: 0;
  top: 0;

  img {
    width: 100%;
  }
}
