@import '../../styles/abstracts';

.header {
  position: relative;
  z-index: 10;

  > a {
    display: block;
  }
}

// Default
// -----------

.defaultHeader {
  position: relative;
  @include box-shadow();
  padding: spacing(1.25);
  display: inline-block;
  background-color: $c--primary;
  margin-top: spacing(0.5);
  margin-left: spacing(0.5);

  .title,
  .info {
    display: inline-block;
    color: $c--secondary;
    display: inline-block;
    vertical-align: middle;
  }

  .info {
    margin-top: 0;
    margin-left: spacing(2);

    @include mq($bp-mobile, max) {
      display: none;
    }
  }

  .ampersand svg {
    fill: $c--secondary;
  }

  a:hover {
    .title {
      color: $c--white;
    }
    .ampersand svg {
      fill: $c--white;
    }
  }
}

.defaultHeaderOverlay {
  position: absolute;
  top: 0;
  left: 0;
}

// Big
// -----------

.bigHeader {
  @include box-shadow(16px, $c--primary);
  background-color: $c--secondary;
  padding: spacing(3) spacing(2);

  @include mq($bp-mobile) {
    margin-left: $tablet-split-secondary - $offset;
  }

  @include mq($bp-tablet) {
    padding: spacing(6) spacing(2) spacing(6) $offset;
  }

  @include mq($bp-desktop) {
    margin-left: $desktop-split - $offset;
  }

  @include mq($bp-mobile, max) {
    margin-left: 20%;
    margin-left: calc(20% - 16px);
  }

  .title {
    color: $c--white;
  }

  .ampersand svg {
    fill: $c--white;
  }

  @include mq($bp-tablet, max) {
    & ~ :global(.splitpane__content) {
      padding-top: spacing(4);
    }
  }
}

// Big and in nav
// -----------
.inNavHeader,
.bigHeader {
  .title {
    font-size: $fz--xl;

    @include mq($bp-mobile) {
      @include fluid-type($bp-mobile, 1400px, 44px, 108px);
    }
  }

  .info {
    font-size: $fz--base;
    @include mq($bp-tablet) {
      font-size: $fz--lg;
    }
  }
}

.save_new_date {
  @include uppercase();
  font-size: $fz--base;
  font-weight: $fw--bold;
  color: $c--white;
  margin-top: 2rem;
  margin-bottom: 0;
}

// In nav
// -----------
.inNavHeader {
  width: 100%;

  .title,
  .info {
    color: $c--secondary;
  }

  .ampersand svg {
    fill: $c--secondary;
  }

  @media (max-height: 720px) and (min-width: $bp-tablet) {
    margin-top: -2vw;

    .title {
      font-size: 42px;
    }

    .info {
      font-size: $fz--base;
    }
  }
}

// Base
// -----------

.title {
  @include transition(color);
  font-size: $fz--base;
  font-family: $ff--headline;
  line-height: 0.7;

  span {
    display: inline-block;
    vertical-align: bottom;
  }
}

.ampersand {
  width: 0.7em;

  svg {
    @include transition(fill);
    width: 100%;
    display: block;
  }
}

.info {
  color: $c--primary;
  margin: 0;
  line-height: 1.2;
  margin-top: spacing();

  @include mq($bp-tablet) {
    margin-top: spacing(1);
  }

  p {
    margin: 0;
  }
}

.date {
  font-weight: $fw--bold;
}
