@import '../../static/scss/mixins';
@import '../../static/scss/variables';

.header {
  color: $c-lavender;
}

.header--main .header__meta {
  display: flex;
  justify-content: flex-start;
  margin-bottom: $space-lg;
  background-color: $c-lavender;
  margin-top: -8vw;
  margin-left: -12vw;
  margin-right: -8vw;
  padding: 40px 8vw 40px 12vw;
  position: relative;

  .page--home & {
    display: block;
    padding: 8vw 8vw 8vw 12vw;
  }
}

.header__banner {
  font-family: $ff-vidaloka;
  display: inline-block;
  font-size: 2rem;
  margin-right: 60px;

  span {
    position: relative;
    display: block;
    line-height: 0.8;

    .header--main & {
      color: $c-white;
    }
  }

  span:first-child {
    margin-bottom: -0.3em;
  }
  span:nth-child(2) {
    text-align: right;
    position: relative;
    right: -0.7em;
    .header--main & {
      color: $c-purple;
    }
  }
  span:nth-child(3) {
    margin-top: -0.3em;
  }
}

.header__wedding-info {
  margin: 1em 0 0 0;
  font-weight: $fw-bold;
  font-family: $ff-lora;

  .page--home & {
    font-size: $fz-mid;
  }

  .header--main & {
    color: $c-purple;
  }
}

.page--home .header__banner,
.header__page-title {
  font-size: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;

  @include mq($bp-mobile) {
    font-size: 10vw;
  }
}
