@import '../../static/scss/mixins';
@import '../../static/scss/variables';

.Header {
  position: relative;
  z-index: 10;
  .wedding-info {
    margin: 0;
    font-weight: $fw-bold;
    font-family: $ff-lora;
    line-height: 1.2;
    color: $c-secondary;

    .page--home &,
    .mainnav & {
      font-size: $fz-mid;
      margin-top: 1em;
    }

    .page--home & {
      color: $c-primary;
    }
    .mainnav & {
      color: $c-secondary;
    }
  }

  &.header--main .meta {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: $space-lg;
    position: relative;

    @include mq($bp-mobile, true) {
      .main:not(.page--home) & .wedding-info__venue {
        display: none;
      }
    }

    .splitpane__content & {
      margin-left: -$overhang;
      margin-top: $inverted-padding;
      margin-right: $inverted-padding;
      margin-bottom: $space-lg;

      @include mq($bp-desktop) {
        margin-bottom: 4rem;
      }
    }

    .page--home & {
      display: block;
      padding: 60px $padding 40px $overhang;
      background-color: $c-secondary;

      @include mq($bp-tablet) {
        padding-top: $padding - 2;
        padding-bottom: $padding - 2;
      }
      @include mq($bp-mobile) {
        padding-left: $padding - 2;
      }
    }
  }
}

.HeaderBanner {
  font-family: $ff-vidaloka;
  display: inline-block;
  font-size: 2rem;
  margin-right: 1em;
  color: $c-secondary;

  @include mq($bp-tablet) {
    margin-right: 40px;
  }

  span {
    position: relative;
    display: block;
    line-height: 0.8;
  }

  span:first-child {
    margin-bottom: -0.3em;
  }
  span:nth-child(2) {
    text-align: right;
    position: relative;
    right: -0.7em;
    .header--main & {
      color: $c-primary;
    }
  }
  span:nth-child(3) {
    margin-top: -0.3em;
  }

  .mainnav &,
  .page--home & {
    font-size: 4rem;
    color: $c-white;
    @include mq($bp-mobile) {
      font-size: 8vw;
    }
  }
  .mainnav & {
    color: $c-secondary;
  }
}
