@import '../../static/scss/mixins';
@import '../../static/scss/variables';

.Person {
  position: relative;
  z-index: 1;

  &.is-visible {
    z-index: 2;
  }

  @include mq($bp-desktop) {
    min-height: 100vh;
    display: flex;
    align-items: center;
    margin-left: 10vw;
  }

  @include mq($bp-desktop, true) {
    padding-top: 100px;
  }
}

.person__name {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: -1em;
    left: 0;
    width: 40px;
    height: 4px;
    background-color: $c-primary;
  }
}

.person__pics {
  margin-top: $space-lg;

  @include mq($bp-desktop) {
    margin: 0;
    top: 0;
    left: 0;
    position: fixed;
    width: 66vw;
    height: 100vh;
  }

  &.person__pics--1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.person-pic {
  margin-bottom: $space-lg;

  img {
    box-shadow: 0 0 70px rgba($c-black, 0.4);
  }

  @include mq($bp-desktop) {
    margin: 4vh;
    opacity: 0;
    transition: opacity 0.6s cubic-bezier(0.19, 1, 0.22, 1);

    .is-visible & {
      transition-duration: 0.8s;
      opacity: 1;
    }

    img {
      max-height: 80vh;

      .person__pics:not(.person__pics--1) & {
        max-height: 44vh;
      }
    }
  }

  img {
    display: block;
  }

  .scrolling-to-content & {
    opacity: 0 !important;
  }
}

.Person.is-visible {
  .person-pic--0 {
    transition-delay: 0s;
  }
  .person-pic--1 {
    transition-delay: 0.1s;
  }
  .person-pic--2 {
    transition-delay: 0.2s;
  }
}

// Layouts

@include mq($bp-desktop) {
  .person__pics--2 .person-pic--1 img {
    margin-left: auto;
  }

  .person__pics--3 .person-pic--0 {
    width: 52%;
    display: inline-block;
    margin-right: 0;
  }
  .person__pics--3 .person-pic--1 {
    width: 30%;
    display: inline-block;
  }
}
