@import '../../styles/abstracts';

.galleryImage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50vw;
}

.imageTrigger {
  height: 100vh;
}

.gallery {
  // min-height: 100vh;
  // padding-left: spacing(2);
  // padding-right: spacing(2);
  padding-top: spacing(2);
  // // margin-bottom: spacing(8);

  @include mq($bp-desktop) {
    padding-top: spacing(10);
  }
}

.img {
  @include img-shadow;
}

.caption {
  @include box-shadow;
  color: $c--gray-3;
  position: relative;
  padding: spacing();
  max-width: 26em;
  background-color: $c--white;
}
