@import '../../static/scss/mixins';
@import '../../static/scss/variables';

.layout--gallery {
  .header--main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .mainnav {
    position: fixed;
    top: 0;
    right: 0;
  }

  .site-footer {
    @include mq($bp-tablet) {
      margin: 0;
      height: 120px;
    }
  }
}

.Gallery {
  @include mq($bp-tablet, true) {
    margin-top: 160px;
    padding-left: $space-lg;
    padding-right: $space-lg;
  }

  .track {
    @include mq($bp-tablet) {
      position: fixed;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: flex-end;
    }
  }
}

.gallery-img-wrapper {
  margin-bottom: $space-lg;

  .caption {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  img {
    box-shadow: 0 0 70px rgba($c-black, 0.4);
  }

  @include mq($bp-tablet) {
    height: 100%;
    overflow: hidden;
    padding: 4rem;
    margin-bottom: 0;

    &:first-child {
      padding-left: $space-lg;
    }
    &:last-child {
      padding-right: $space-lg;
    }

    .gallery-img-constrictor {
      display: flex;
      height: 100%;
      flex-direction: column;
    }

    &:nth-child(even) .gallery-img-constrictor {
      justify-content: flex-start;
      .caption {
        margin-top: 2em;
      }
    }
    &:nth-child(odd) .gallery-img-constrictor {
      justify-content: flex-end;
      .caption {
        order: -1;
        margin-bottom: 2em;
      }
    }

    .caption {
      opacity: 0;
      transition: all 0.4s 0.4s;
    }

    img {
      display: block;
      max-height: 80%;
      opacity: 0;
      transform: translate3d(40px, 0, 0);
      transition: all 0.4s;
    }

    &.active {
      img {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
      .caption {
        opacity: 1;
      }
    }
  }
}
