@import '../../../styles/abstracts';

.button {
  @include box-shadow(3px);
  @include uppercase;
  @include transition(color);
  font-size: $fz--sm;
  padding: spacing();
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  background-color: $c--primary;
  color: $c--secondary;

  &:hover {
    color: $c--white;
  }

  svg {
    display: block;
    width: 20px;
    height: 20px;
    fill: currentColor;
  }
}

.label,
.icon {
  display: inline-block;
  vertical-align: middle;
}

.label {
  margin-right: 1em;

  @include mq($bp-mobile, true) {
    display: none;
  }
}
