@import '../../../styles/abstracts';

.button {
  @include button-inverted();
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-size: $fz--sm;

  svg {
    display: block;
    width: 20px;
    height: 20px;
    fill: currentColor;
  }
}

.label,
.icon {
  display: inline-block;
  vertical-align: middle;
}

.label {
  margin-right: 1em;

  @include mq($bp-mobile, true) {
    display: none;
  }
}
