@import '../../styles/abstracts';

.footer {
  margin-top: spacing(2);
  color: $c--gray-9;
  padding: spacing(2);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  ul > li {
    display: inline-block;
    margin-right: spacing(1);

    &:before {
      content: '/';
      display: inline-block;
      margin-right: spacing(1);
    }
  }
}

:global(.splitpane__content) .footer {
  padding-left: 0;
  padding-right: 0;
}

.copyright {
  margin-right: spacing(2);
}

.navListItem {
  margin-bottom: spacing(0.5);
}

.activeNavLink {
  font-weight: $fw--bold;
  pointer-events: none;
  color: $c--secondary;
}
