@import '../../static/scss/variables';
@import '../../static/scss/mixins';

$info-size: 200px;

.infobox {
  display: none;
  z-index: 100;
  background-color: $c-lavender;
  position: fixed;
  width: $info-size;
  top: 8vw;
  left: 50%;
  margin-left: -$info_size / 1.33;
  text-align: right;
  padding: 20px;
}

.infobox__wedding-info {
  margin: 0;
}
