@import '../../../styles/abstracts';

.nav {
  width: 100%;
  max-width: 860px;
  margin: auto;
  padding: 0 spacing(2);

  @include mq($bp-mobile) {
    display: flex;
    align-items: flex-start;
  }
}

.button {
  @include transition();
  position: relative;
  flex: 1;
  display: block;
  width: 100%;
  background-color: transparent;
  padding: 0 spacing(2);
  color: $c--gray-c;

  span {
    font-weight: $fw--bold;
    display: block;
    margin-top: spacing();
  }

  svg {
    @include transition();
    width: 100%;
    display: block;
    fill: $c--gray-c;
    stroke: $c--gray-c;
    max-height: 120px;
  }

  &:hover {
    color: $c--black;
    svg {
      transform: scale(1.1);
      fill: $c--secondary;
      stroke: $c--secondary;
    }
  }

  &.active,
  &:focus {
    outline: none;
    color: $c--black;

    svg {
      transform: scale(1.1);
      fill: $c--secondary;
      stroke: $c--secondary;
    }
  }
}
