@mixin button() {
  @include transition;
  @include box-shadow(4px);
  @include uppercase;
  background-color: $c--primary;
  padding: 1em;
  color: $c--white;
  font-weight: $fw--bold;

  &:not(:disabled):not(.btn--disabled):hover {
    @include box-shadow(6px);
    background-color: lighten($c--primary, 6%);
    color: $c--white;
    transform: translate3d(-2px, -2px, 0);
  }
}
