@mixin grid-child {
  padding-left: $gutter;
  padding-right: $gutter;
}

@mixin content-split-main {
  width: $mobile-split-main;
  margin-left: $mobile-split-secondary;

  @include mq($bp-mobile) {
    width: $tablet-split-main;
    margin-left: $tablet-split-secondary;
  }

  @include mq($bp-desktop) {
    width: $desktop-split;
    margin-left: $desktop-split;
  }
}

@mixin content-split-secondary {
  @include mq($bp-mobile) {
    width: $tablet-split-secondary;
  }

  @include mq($bp-desktop) {
    width: $desktop-split;
  }
}
