@import '../../static/scss/variables';

.mainnav {
  margin-bottom: $space-lg;
}
.mainnav__item {
  display: inline-block;
  position: relative;
  z-index: 10;

  &:nth-child(n + 2) {
    margin-left: 20px;
  }
  // opacity: 0;

  .mainnav--active & {
    opacity: 1;
    transform: translateX(0);
  }

  @for $i from 2 through 10 {
    &:nth-child(#{$i}n) {
      transition-delay: #{$i * 0.05}s;
    }
  }
}

.mainnav__link {
  font-weight: $fw-bold;
  text-decoration: none;
  color: inherit;
}
