@import '../../static/scss/variables';
@import '../../static/scss/mixins';

.mainnav {
  position: absolute;
  top: 0;
  right: 0;
  color: $c-white;
  z-index: 100;

  .wedding-info {
    color: $c-secondary;
  }
}

.mainnav__trigger,
.mainnav__close {
  top: 0;
  right: 0;

  svg {
    display: block;
    width: 20px;
    height: 20px;
    transition: fill $hover-timing;
  }
}

.mainnav__trigger {
  @include uppercase;
  font-family: $ff-roboto;
  font-size: $fz-small;
  padding: $space-sm;
  transition: color $hover-timing;
  color: $c-secondary;

  @include mq($bp-mobile) {
    padding: $space-lg;
  }

  svg {
    fill: currentColor;
  }

  .layout--hero &,
  .page--home & {
    color: $c-white;
  }
}

.mainnav__close {
  padding: 20px;
  z-index: 20;

  svg {
    fill: $c-white;
  }

  &:hover svg {
    fill: $c-primary;
  }
}

.mainnav__trigger-icon,
.mainnav__trigger-label {
  display: inline-block;
  vertical-align: middle;
}

.mainnav__trigger-label {
  margin-right: 1em;

  @include mq($bp-mobile, true) {
    display: none;
  }
}

.mainnav__close {
  position: fixed;
  background-color: $c-secondary;
}

.mainnav__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: $c-primary;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-100%);
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  padding: 2rem;

  &--open {
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0);
    height: 100vh;
  }

  @include mq($bp-mobile) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow: auto;
    padding: $padding;
  }

  @include mq($bp-desktop) {
    left: 50 - $offset;
    padding: 8vw $offset $offset;
  }

  .mainnav__info .header__banner span {
    color: $c-secondary;
  }
}

.mainnav__wedding-info {
  margin-top: 1em;
  font-size: $fz-mid;
  color: $c-secondary;
}

.mainnav__menu {
  position: absolute;
  bottom: $space-lg;
  left: $space-lg;

  @include mq($bp-mobile) {
    bottom: $padding;
    left: $padding;
  }
}
.mainnav__item {
  opacity: 0;
  transform: translateX(-12px);
  transition: all 0.6s;

  @for $i from 0 through 10 {
    .mainnav__wrapper--open &:nth-child(#{$i}) {
      $current-delay: ($i * 0.1s);
      opacity: 1;
      transform: translateX(0);
      transition-delay: #{$current-delay + 0.1s};
    }
  }
}
.mainnav__link {
  @include uppercase;
  font-size: $fz-large;
  display: block;
  line-height: 1;
  margin: 0.5em 0;

  &:hover,
  &--active {
    color: $c-secondary;
  }
}
