html {
  font-size: 16px;
  color: $c--gray-3;
  -webkit-font-smoothing: antialiased;

  @include mq($bp-mobile) {
    font-size: 18px;
  }
}

body {
  font-family: $ff--base;
  line-height: 1.4;
}

.h1,
h2 {
  font-size: 3.4rem;
  line-height: 1.2;
  margin-bottom: 0.5em;
  font-family: $ff--headline;
  margin-bottom: 1em;

  p + & {
    margin-top: 2em;
  }

  .simplelayout__main & {
    font-size: clamp(3.2rem, 8vw, 6rem);

    margin-bottom: 0.5em;
  }
}

h3 {
  font-family: $ff--headline;
  margin-bottom: 1em;
}

h6 {
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 0.5em;
  font-family: $ff--headline;
  color: $c--secondary;
}

.page-title,
.content__main h2,
.content__main h3 {
  font-size: 2.6rem;
  line-height: 1.1;
  margin-bottom: 2rem;
}

.overline {
  font-size: $fz--base;
  color: $c--gray-c;
  display: block;
  font-family: $ff--base;
  font-weight: $fw--bold;
  margin-bottom: 0.5em;
}

p {
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: $c--primary;
  }

  .site-footer &,
  .content__main & {
    @include simple-link;
  }
}

.content__main {
  line-height: 1.6;

  strong {
    font-weight: $fw--semibold;
    color: $c--primary;
  }

  .heavy {
    font-weight: $fw--bold;
  }

  .big {
    @include mq($bp-desktop) {
      font-size: 1.2rem;
    }
  }
}

input {
  font-family: inherit;
  font-size: inherit;

  .wp-block-button {
    margin-bottom: 2rem;
  }
}

.wp-block-button .wp-block-button__link,
button {
  cursor: pointer;
  padding: 0;
  border-radius: 0;
  border: 0;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

.wp-block-button .wp-block-button__link,
.hotel-button a,
.btn {
  @include button();
  display: inline-block;

  &.btn--disabled,
  &:disabled {
    @include box-shadow(0);
    cursor: default;
    background-color: $c--gray-9;
    opacity: 0.5;
  }

  &:focus {
    outline: none;
  }

  &:focus:not(.btn--disabled) {
    background-color: lighten($c--primary, 6%);
  }
}

.btn--primary {
  font-size: $fz--base;
}

.btn--secondary {
  @include transition;
  color: $c--gray-9;

  &:hover {
    color: $c--gray-4;
  }
}

.has-drop-cap:first-letter {
  color: $c--primary;
  float: left;
  font-family: $ff--headline;
  font-size: 5.6em;
  line-height: 1em;
  padding-right: 10px;
  margin-bottom: -0.1em;
}

// WordPress blocks
// -----------

.wp-block-quote {
  padding-left: 1em;
  border-left: 4px solid $c--secondary;
}

// Specifics
// -----------

.address {
  @include uppercase;
  margin-bottom: 2em;

  span a {
    display: inline-block;
    font-size: 0.8em;
    font-weight: normal;
    box-shadow: none;
    margin-left: 0.5em;
    color: $c--secondary;

    &:after {
      @include transition;
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      vertical-align: middle;
      margin-left: 0.5em;
      transform: translateY(-2px);
      background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cg%20fill%3D%22%23b99359%22%3E%3Cpath%20d%3D%22M0%206l10-4v24L0%2030zM12%201l10%206v23l-10-5zM24%207l8-6v24l-8%206z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      opacity: 0.6;
    }

    &:hover {
      box-shadow: none;
      color: $c--primary;

      &:after {
        opacity: 1;
        transform: translateY(-4px);
        background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cg%20fill%3D%22%233698a6%22%3E%3Cpath%20d%3D%22M0%206l10-4v24L0%2030zM12%201l10%206v23l-10-5zM24%207l8-6v24l-8%206z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
      }
    }
  }
}

.content__main .hotel-map-link {
  color: $c--primary;
  // box-shadow: none;

  &:after {
    @include transition;
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-left: 0.5em;
    margin-right: 4px;
    transform: translateY(-2px);
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cg%20fill%3D%22%233698a6%22%3E%3Cpath%20d%3D%22M0%206l10-4v24L0%2030zM12%201l10%206v23l-10-5zM24%207l8-6v24l-8%206z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    opacity: 0.6;
  }

  &:hover {
    &:after {
      opacity: 1;
      transform: translateY(-4px);
    }
  }
}

.page--the-venue .content__main > .address:first-child {
  margin-top: -1.4em;
}
